@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.navbar-brand{
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 3px;
}
.nav-text{
    font-family: 'Roboto', sans-serif;
    font-size: 19px;

}
.navbar-nav li a:hover{
    border-bottom: 3px solid rgb(3, 150, 150);
}