.header-container{
    position: relative;
    background: url(../../images/homeBg.jpg) no-repeat;
    background-size: cover;
    background-position:center ;
    height:100vh;
    
}
.info{
    position: absolute;
    flex-direction: column;
    z-index: 1;
    top: 36%;
}
.typed-text{
    font-size: 40px;
    color:white;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
 .download-btn{
    background-color:black;
    color: rgb(15, 198, 198);
    padding: 10px 29px;
    border-radius: 25px;
    font-weight: 800;
    font-size: 18px;
}
.download-btn:hover{
    background-color: rgb(9, 162, 162);
    color: black;
    z-index: 2;
}